[project]
	description = python-linux-procfs clone
[access "refs/*"]
	owner = group user/Jiri Kastner (cz172638)
[access "refs/for/refs/*"]
	read = group user/Jiri Kastner (cz172638)
	push = group user/Jiri Kastner (cz172638)
	label-Code-Review = -2..+2 group user/Jiri Kastner (cz172638)
	label-Verified = -1..+1 group user/Jiri Kastner (cz172638)
	rebase = group user/Jiri Kastner (cz172638)
	removeReviewer = group user/Jiri Kastner (cz172638)
	submit = group user/Jiri Kastner (cz172638)
[access "refs/heads/*"]
	read = group user/Jiri Kastner (cz172638)
	create = group user/Jiri Kastner (cz172638)
	push = +force group user/Jiri Kastner (cz172638)
	pushMerge = group user/Jiri Kastner (cz172638)
[access "refs/tags/*"]
	push = +force group user/Jiri Kastner (cz172638)
	pushTag = group user/Jiri Kastner (cz172638)
	pushSignedTag = group user/Jiri Kastner (cz172638)
